[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dynaconf = "*"
linkedin-api = "~=2.0.0a"
click = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
main = "src/main.py"
showProfile = "src/main.py show-profile"
